<nav
        class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex justify-content-between"
>
  <a class="navbar-brand text-secondary" th:href="@{/Content/View.html}">CMS</a>

  <div class="dropdown">
    <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    >
      <i class="fas fa-user"></i>
    </button>
    <div
            class="dropdown-menu dropdown-menu-right shadow"
            aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item border-bottom" th:href="@{/Member/Edit.html}"
      ><i class="fas fa-user"></i> User Profile</a
      >
      <a class="dropdown-item pt-0" href="#"
      ><i class="fas fa-sign-out-alt"></i> Logout</a
      >
    </div>
  </div>
</nav>
